.company {
  &-details {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;

    .clients-table-list ul {
      @media (max-width: 1700px) {
        flex-direction: column;
        gap: 0;
      }

      li:after {
        @media (max-width: 1700px) {
          display: none;
        }
      }
    }

    a {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.6rem;
      @media (max-width: 450px) {
        font-size: 1.3rem;
        line-height: 2.3rem;
      }
    }

    &__title {
      width: 100%;
    }

    &-column {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 1.2rem;
      @media (max-width: 1700px) {
        gap: 0.6rem;
      }
      @media (max-width: 768px) {
        gap: 0 0.6rem;
      }
    }

    @media (max-width: 1700px) {
      align-items: flex-start;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.2rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 1.6rem;
    }
    @media (max-width: 450px) {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &-applications {
    width: 100%;
    padding-bottom: 6rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;

    @media (max-width: 1023px) {
      min-width: 1200px;
    }
    @media (max-width: 450px) {
      min-width: 0;
      padding-bottom: 0;
      font-size: 1.3rem;
      line-height: 2.3rem;
    }

    &-body {

      .company-applications__row {
        &:nth-child(odd) {
          @media (min-width: 451px) {
            background: #F7F7F7;
          }
        }
      }
    }

    &__column {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: 2rem 1.6rem;

      @media (max-width: 450px) {
        padding: 0;
        gap: 0;
        align-items: flex-start;
        flex-direction: column;
      }

      &:nth-child(2) {
        @media (max-width: 450px) {
          width: 100%;
        }
      }
      &:nth-child(3) {
        width: 30rem;
        @media (max-width: 1750px) {
          width: 26rem;
        }
        @media (max-width: 1500px) {
          width: 20rem;
        }
        @media (max-width: 1450px) {
          width: 26rem;
        }
        @media (max-width: 1250px) {
          width: 20rem;
        }
        @media (max-width: 1023px) {
          width: 26rem;
        }
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      &:nth-child(4) {
        width: 13rem;
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      &:nth-child(5) {
        width: 42.8rem;
        @media (max-width: 1750px) {
          width: 26rem;
        }
        @media (max-width: 1500px) {
          width: 20rem;
        }
        @media (max-width: 1450px) {
          width: 26rem;
        }
        @media (max-width: 1250px) {
          width: 20rem;
        }
        @media (max-width: 1023px) {
          width: 43rem;
        }
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      &:nth-child(6) {
        width: 17.7rem;
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      &:nth-child(7) {
        width: 16rem;
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      &:nth-child(8) {
        flex: 1;
      }
    }


    &__row {
      position: relative;
      display: flex;
      align-items: center;
      @media (max-width: 450px) {
        align-items: flex-start;
        flex-direction: column;
        padding: 1.6rem;
        gap: 1.2rem 4px;
        border-radius: 1rem;
        border: 1px solid rgba(12, 12, 12, 0.10);
      }
      &:not(:last-child){
        @media (max-width: 450px) {
          margin-bottom: 1.2rem;
        }
      }
    }

    &__head {
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}