.dashboard {
  &__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    @media (max-width: 767px) {
      font-size: 2.1rem;
      line-height: 3.1rem;
    }
  }

  &__back-link {
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3rem;
    @media (max-width: 767px) {
      margin-left: 0;
    }

    .icon {
      width: 9px;
      height: 15px;
    }
  }

  &-head {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid rgba(12, 12, 12, 0.10);

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &-section {
    align-items: flex-start;
    display: flex;
    width: 100%;
    min-height: 100vh;
    @media (max-width: 1400px) {
      overflow: hidden;
    }

    &--full {
      .sidebar__slide-show {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &-subhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.2rem 2.4rem;
    &__title{
      font-size: 1.9rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.9rem;
      @media (max-width: 450px){
        font-size: 1.7rem;
      }
    }
  }
}