.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 30rem;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.10);
  background: #0C0C0C;
  transition: 0.6s ease-in-out;

  @media (max-width: 1450px) {
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
    will-change: transform;
  }

  @media (max-width: 767px) {
    position: fixed;
  }

  &--showed-mobile {
    transform: translateX(0);
  }

  &__slide-show {
    position: absolute;
    left: 2.5rem;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0);
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;

    path {
      stroke: #737373;
      stroke-opacity: 1;
    }

    @media (max-width: 1450px) {
      display: none;
    }
  }

  &__user {
    display: none;
    margin: 0 1.6rem;
    border-bottom: 1px solid rgba(#737373, 0.2);
    color: #fff;
    transition: 0.2s ease-in-out;
    @media (max-width: 767px) {
      display: flex;
      margin-top: auto;
    }

    .user {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }

  &-list {
    &__link {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      padding: 2rem 2.5rem;
      background: #0C0C0C;
      color: #FFF;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      .icon {
        width: 2.2rem;
        height: 2.2rem;
      }

      @media (max-width: 767px) {
        padding: 2rem 1.6rem;
      }

      svg {
        path {
          stroke: #737373;
        }
      }

      &:hover {
        background: #181818;
      }

      &.active {
        background: #181818;

        svg {
          path {
            stroke: #CFA14F;
          }
        }
      }
    }
  }

  &-nav {
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;

    transition: 0.2s ease-in-out;
    @media (max-width: 767px) {
      margin-top: 0;
    }

  }

  .header-lang {
    width: 100%;
    color: #737373;
    @media (max-width: 450px) {
      line-height: 2.4rem;
    }
    a {
      color: #fff;
    }

    ul {
      top: auto;
      bottom: 100%;
      width: 100%;
      background-color: #0C0C0C;
    }

    &__title {
      width: 100%;
      justify-content: space-between;
    }
  }

  &-footer {
    padding-top: 2rem;
    margin: auto 2.5rem 2.4rem 2.5rem;
    border-top: 1px solid rgba(#737373, 0.2);
    transition: 0.2s ease-in-out;
    @media (max-width: 450px) {
      padding-top: 1rem;
      margin: auto 2.5rem 1rem 2.5rem;
    }
  }

  &-hide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;

    flex-shrink: 0;
    flex-grow: 0;
    background: #0c0c0c;
  }

  &__slide-hide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0);
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    @media (max-width: 1450px){
      display: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    path {
      stroke: #737373;
      stroke-opacity: 1;
    }
  }

  &__hide {
    display: none;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    background: none;
    cursor: pointer;

    path {
      stroke: #fff;
    }
  }

  &__head {
    position: relative;
    padding: 3.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @media (max-width: 450px) {
      opacity: 0;
    }
  }

  &__logo {
    width: 14.6rem;
    height: 2.3rem;
    @media (max-width: 1450px){
      display: none;
    }
  }

  &.animation-execution {
    .sidebar-nav {
      opacity: 0;

      transition: 0.1s ease-in-out;
    }

    & > * {
      overflow: hidden !important;
    }
  }

  &--hidden {

    @media (min-width: 1451px) {
      width: 7rem;
      overflow: hidden;
    }

    &-sliding {
      overflow: hidden;

      .sidebar__user, .sidebar__logo, .sidebar-footer {
        opacity: 0;
        pointer-events: none;
      }

      .sidebar-list__link {
        color: rgba(#000, 0);
        white-space: nowrap;
      }
    }

    .sidebar-list__link {
      @media (min-width: 1451px) {

        color: rgba(#000, 0);
        white-space: nowrap;
      }
    }

    .sidebar__user, .sidebar__logo, .sidebar-footer {

      @media (min-width: 1451px) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

}

body.open-sidebar {
  overflow: hidden;
}


.dashboard-section--full {
  .sidebar__slide-show {
    opacity: 1;
    pointer-events: auto;
  }
}