.theme-switcher{
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #CFA14F;
  background-color: rgba(#fff, 0);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  @media (max-width: 767px) {
    width: 4.4rem;
    height: 4.4rem;
  }
  svg {
    & > *{
      transition: 0.4s ease-in-out;
    }
  }
  &:hover{
    background-color: #CFA14F;
    svg {
      & > *{
        stroke: #fff;
      }
    }
  }
}